*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #afafaf7b;
    text-align: center;
}
.box img{
    height: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
h5{
    margin: .8rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: red;
}

button{
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: rgb(198, 245, 26);
    cursor: pointer;
    font-size: .8rem;
    margin-top: 5px;
}
button:hover{
    opacity: 0.8;
}