* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }
  
  h2 {
    font-size: 50px;
    background: #ff6a00;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .page-wrapper {
    z-index: 0;
    position: relative;
  }
  
  .container {
    width: 90vw;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .margin-bottom-medium {
    margin-bottom: 32px;
  }
  
  .paragraph-large {
    letter-spacing: -0.02em;
    font-size: 20px;
  }
  
  .section-timeline-heading {
    background-color: #0a0a0a;
  }
  
  .padding-vertical-xlarge {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .timeline-main_heading-wrapper {
    color: #fff;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timeline_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
  }
  
  .timeline_item {
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
  }
  
  .timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
  }
  
  .timeline_centre {
    justify-content: center;
    display: flex;
  }
  
  .timeline_date-text {
    color: #fff;
    letter-spacing: -0.03em;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 50vh;
  }
  
  .timeline_text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
  }
  
  .timeline_circle {
    background-color: #fff;
    border-radius: 100%;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px #0a0a0a;
  }
  
  .timeline_progress {
    z-index: -2;
    background-color: #414141;
    width: 3px;
    height: 100%;
    position: absolute;
  }
  
  .timeline_progress-bar {
    z-index: -1;
    background: #ff6a00;
    background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
    background: linear-gradient(to bottom, #ff6a00, #ee0979);
  
    width: 3px;
    height: 50vh;
    position: fixed;
    inset: 0 auto 50vh;
  }
  
  .section-timeline {
    z-index: -3;
    background-color: #0a0a0a;
    position: relative;
  }
  
  .margin-bottom-xlarge {
    margin-bottom: 56px;
  }
  
  .timeline_link {
    opacity: 0.6;
    color: #fff;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
    transition: opacity 0.3s;
    display: flex;
  }
  
  .timeline_link:hover {
    opacity: 1;
  }
  
  .link-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .text-colour-lightgrey {
    color: #ffffffa6;
  }
  
  .overlay-fade-top {
    background-image: linear-gradient(#0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
  }
  
  .overlay-fade-bottom {
    background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: auto 0% 0%;
  }
  
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 40px;
    }
  
    .paragraph-large {
      font-size: 18px;
    }
  
    .padding-vertical-xlarge {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    .timeline_item {
      grid-template-columns: 64px 1fr;
      width: 100%;
    }
  
    .timeline_left {
      text-align: left;
      grid-area: 1 / 2 / 2 / 3;
    }
  
    .timeline_centre {
      justify-content: flex-start;
      grid-area: 1 / 1 / 3 / 2;
    }
  
    .timeline_right {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  
    .timeline_date-text {
      margin-bottom: 24px;
      font-size: 36px;
    }
  
    .timeline_text {
      font-size: 20px;
    }
  
    .timeline_progress {
      left: 6px;
    }
  
    .margin-bottom-xlarge {
      margin-bottom: 48px;
    }
  }
  
  /* Subscribe button styles */
  .subscribe-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
  }
  
  /* SVG inside subscribe button */
  .subscribe-btn svg {
    height: 60px;
    width: 60px;
  }
  
  /* Floating YouTube Button Styling */
  .youtube-button {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    background-color: #ff0000; /* YouTube red color */
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 999;
  }
  
  /* Icon Styling */
  .youtube-button i {
    font-size: 24px;
  }
  
  /* Hover Effect */
  .youtube-button:hover {
    background-color: #e60000; /* Darker shade of red */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* Slight upward movement */
  }
  