@font-face {
    font-family: "Satoshi";
    src: url(./fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: "Chillax Light";
    src: url(./fonts/Chillax-Light.otf);
}
@font-face {
    font-family: "Gambetta";
    src: url(./fonts/Gambetta-Regular.otf);
}
@font-face {
    font-family: "Miama";
    src: url(./fonts/Miama-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: clamp(10px,1vw,20px);
    font-family: 'Satoshi', sans-serif;
    background-color: #0E0E0E;
    color: #DAC5A7;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    padding: 1.6rem;
}
p{
    font-family: 'Chillax Light', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0!important;
    overflow: hidden;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        // background-color: #181716;
        background-color: rgba(218, 197, 167, 0.05);
        width: 40%;
        height: 70px;
        margin-top: 2rem;
        border: 0.01px solid #dac5a715;
        border-radius: 3px;
        z-index: 100;
        backdrop-filter: blur(30px);
        h1{
            font-size: 1.1rem;
            font-weight: 200;
            text-transform: uppercase;
            transition: all ease-in 0.3s;
            &:hover{
               border-bottom: 1px solid #EDD6B6;
            }
            
        }
        h2{
            font-family: 'Miama', sans-serif;
            font-weight: 100;
            font-size: 2rem;
            transition: all ease-in 0.3s;
            cursor: pointer;
            
        }

    }
}
.talk{
    background-color: #DAC5A7;
    color: black ;
    padding: 0.5rem 1rem;
    opacity: 1;
    border-radius: 2px;
   
}
.section1{
    margin: -4.6rem 1rem;
    // padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 60%;
    }
    .title{
        margin-top: -3.1rem;
    }
    h1{
        font-size: 6.8rem;
        font-weight: 100;
        text-align: center;
    }
    h2{
        font-family: 'Gambetta', sans-serif;
        font-weight: 100;
        font-size: 6.5rem;   
        font-style: italic; 
        padding: 0 1.5rem;
        margin-top: -1rem;
        text-align: center;
    }
    p{
        font-family: 'Chillax Light', sans-serif;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.5;
        font-weight: 400;
        opacity: 0.8;
        margin-top: 1rem;
        br{
            display: none;
        }
    }
    .my_service{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            padding: 4rem 2rem;
            img{
                width: 40px;
                height: 40px;
                background-color: #23211E;
                border-radius: 50%;
                padding: 7px;
                border: 0.01px solid #dac5a747;
                opacity: .6;
            }
            a{
                text-decoration: none;
                color: #DAC5A7;
                font-weight: 400;
                margin:0 16px;
                text-transform: uppercase;
                font-size: 1.2rem;
                opacity: .9;
                letter-spacing: 1.5px;
                
            }
        }
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
    
    
    .marquee{
        display: flex;
        overflow: hidden;
        position: relative;
        // gap: 4rem;
        width: 100%;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            height: 100%;
            width: 8rem;
            background-image: linear-gradient(to left,transparent, #0E0E0E);
        }
        &::before{
            content: '';
            position: absolute;
            right: 0;
            height: 100%;
            width: 8rem;
            background: linear-gradient(to right,transparent, #0E0E0E);
            z-index: 5;
        }
        .slide{
            display: flex;
            // gap: 4rem;
            // padding: 0 1.5rem;
            animation: slider 15s linear infinite both;
            p{
                font-size: 40px;
                text-align: center;
                font-weight: 600;
                margin: 0 1.5rem;
                // padding: 1rem;
            }
        }
        
    }
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.about{
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    position: relative;
    margin-top: 1rem;
    
    img{
        width: 30px;
        height: 30px;
        background-color: #23211E;
        border-radius: 50%;
        padding: 7px;
        border: 0.01px solid #dac5a747;
        opacity: .8;
        transition: all ease-in .2s;
    }
    a{
        text-decoration: none;
        color: #DAC5A7;
        font-weight: 400;
        margin:0 16px;
        text-transform: uppercase;
        font-size: 1.2rem;
        opacity: .9;
        letter-spacing: 1.5px;
        
    }
    &:hover img{
        rotate: 45deg;
    }
}

.section3{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    .content-box{
        background-color: #181716;
        padding: 3rem;
        border: 0.01px solid #dac5a725;
        border-radius: 2px;
        box-sizing: border-box;
        height: 24rem;
        width: 100%;
        margin-bottom: 1.5rem;
        h3{
            font-weight: 100;
            opacity: 0.8;
            margin-bottom: 1rem;
        }
        h1{
            font-weight: 200;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p{
            font-weight: 400;
            font-size: 1.4rem;
            margin-bottom: 2.5rem;
            opacity: 0.9;
        }
        
        
    }

}

.section4{
    .work-container{
        width: 100%;
        position: relative;
       .heading{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            // margin-bottom: 2rem;
            h1{
                font-size: 4rem;
                font-weight: 300;
            }
            
            
       }
       .image-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
       }
       .image-container{
            width: 100%;
            border: 0.01px solid #dac5a715;
            margin: 1.5rem 0;
            box-sizing: border-box;
            position: relative;
            
            .images{
                width: 100%;
            }
            .details{
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                right: 2rem;
                background-color: #1915122e;
                opacity: 1;
                width: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .7rem 2rem;
                border-radius: 2px;
                border: 0.01px solid #dac5a715;
                // margin-left: 10%;
                backdrop-filter: blur(15px);
                h1{
                    font-size: 2rem;
                    font-weight: 300;
                }
                h2{
                    font-weight: 400;
                }
            }
            
       }
        
    }
}
.section5{
    margin: 6rem 0 0 0;
    h1{
        font-size: 6rem!important;
    }
    h2{
        font-size: 5.5rem!important;
    }
    p{
        font-size: 1.5rem!important;
    }
    .my_service{
        flex-direction: column!important;
        gap: 1rem;
        
    }
    
}
.line{
    width:.5px;
    height: 50px;
    background-color: #dac5a74a;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    // .about{
    //     height: 40px;
    //     width: 40px;
    // }
    h2{
        font-family: 'Miama', sans-serif;
        font-weight: 100;
        font-size: 2rem;
        transition: all ease-in 0.3s;
        cursor: pointer;
        text-align: center;
        
    }
    h1{
            font-size: 2.5rem;
            font-weight: 300;
            padding: 1rem 0;
            text-align: center;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 100;
        padding: .5rem 0;
        text-transform: uppercase;
        opacity: .6;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        font-weight: 100;
        a{
            color: #DAC5A7;
        }
    }
    .talk{
        font-size: 1.3rem;
        padding-left: 1.8rem;
    }
    
}

@media (min-width: 1024px){
    .section1{
        img{
            width: 40%;
        }
        .title{
            margin: 0;
        }
        h1{
            font-size: 10rem;
        }
        h2{
            font-size: 9.2rem;
        }
        p{
           br{
            display: block;
           } 
        }

    }
    .section2{
        padding: 2rem 5rem;
        .marquee{
            width: 90%;
        }
    }
    .section3{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 0 2rem;
        .content-box{
            width: 33%;
        }
    }
    .section4{
        .work-container{
            .heading{
                flex-direction: row;
                justify-content: space-between;
                padding:2rem 6rem;
                h1{
                    font-size: 3rem;
                }
            }
            .image-wrapper{
                flex-direction: row;
                gap: 2.5rem;
                flex-wrap: wrap;
                justify-content: center;
                .image-container{
                    width:45%;
                    margin: 0;
                }
                

           }
        }
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items:start;
        width: 100%;
        flex-wrap: wrap;
        .part1{
            width: 20%;
            top: 0;
        }
        h1,h2{
           text-align: left;
           margin-bottom: 1rem;
        }
        h3{
            text-align: left;
        }
        p{
            margin-top: 3.5rem;
        }
        .talk{
            margin-top: 2rem;
        }
    }
}