@font-face {
  font-family: "Miama";
  src: url(./Fonts/Miama-Regular.ttf);
}
@font-face {
  font-family: "General_San";
  src: url(./Fonts/GeneralSans-Regular.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: clamp(10px, 1vw, 20px);
  color: #111111;
}
h1,h3{
    font-family: 'General Sans',sans-serif;
    font-weight: 200;
}
p{
    font-family: 'Roboto Mono',sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}
h2{
    font-family: 'Miama',sans-serif;
    font-size: 2rem;
}

body{
    padding: 2rem;
}
.btn{
    padding:.7rem 2rem;
    background-color: #111111;
    color: white;
    border-radius: 5px;
}
img{
    width: 100%;
    object-fit: cover;
}
main{
    width: 100%;
    nav{
        .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .only-pc{
                display: none;
            }

        }
    }
    .part1{
        padding: 1rem 0;
        width: 100%;
        img{
            width: 100%;
        }
        .text{
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            p{
                text-transform: uppercase;
                opacity: .9;
                letter-spacing: 1.4px; 
            }
            
        }
    }
    .part2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .txt{
            h1{
                font-size: 5rem;
                font-weight: 400;
                text-transform: uppercase;
                padding: 1rem 0;
            }
            p{
                font-size: 1.7rem;
            }
            .txt-div{
                display: flex;
                justify-content: space-between;
                // padding: 1rem 0;
                h1{
                    font-size: 2.7rem;
                    text-transform: uppercase;
                    // padding: 0;
                }
            }
            hr{
                opacity: .6;
            }
        }
    }
    .part3{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        .text{
            padding: 2rem 0;
            display: flex;
            gap: 3.5rem;
            .top{
                h3{
                    padding-top: .8rem;
                    writing-mode: vertical-rl;
                    font-size: 1.4rem;
                    letter-spacing: 1.5px;
                    word-spacing: 2px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
            .bottom{
                h1{
                    font-size: 4.5rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    line-height: 1;
                }
                p{
                    padding: 1rem 0;
                    font-size: 2rem;
                    opacity: .7;
                }
            }
        }
    }
    .part4{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        .container{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            h1{
                text-transform: uppercase;
                font-size: 4.5rem;
                // padding: 2rem 0;
                font-weight: 400;
            }
            .inner-container{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                .service{
                    hr{
                        opacity: .5;
                    }
                    h1{
                    font-size: 2.5rem;
                    padding: 1rem 0;
                    }
                    p{
                        font-size: 1.6rem;
                        padding-bottom: 1rem;
                        width: 90%;
                        opacity: .7;
                    }
                    .service-btn{
                        padding: 2rem 0;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        gap: 2rem;
                        img{
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            background-color: #111111;
                            padding: 10px;
                            transition: all ease-in .3s;
                            &:hover{
                                transform: rotate(45deg);
                            }
                            
                        }
                        h3{
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            word-spacing: 4px;
                            font-weight: 400;
                        }
                    }
                }
            } 

        }
    
    }
    hr{
        padding: 0 !important;
    }
}
hr{
    opacity: 0.5;
    
}
// @keyframes btn {
//     0%{
//         transform: translateY(0);
//     }
//     60%{
//         transform: translateY(-100%);
//     }
//     100%{
//         transform: translateY(0);
//     }
// }
@media (min-width:1020px){
    body{
        padding: 3.5rem;
    }
    main{
        nav{
            .navigation{
                .only-pc{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    h1{
                        font-weight: 300;
                    }
                }
            }
        }
        .part2{
            flex-direction: row-reverse;
            gap: 3.5rem;
            img{
                width: 50%;
            }
        }
        .part3{
            padding: 3rem 0;
            flex-direction: row;
            gap: 4rem;
            img{
                width: 30%;
                aspect-ratio: 1/1.4;
            }
            .text{
                width: 65%;
                flex-direction: row-reverse;
                justify-content: space-between;
                .top{
                    h3{
                        font-size: 1rem;
                    }
                }
                .bottom{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    h1{
                        font-size: 6rem;
                        margin-bottom: auto;
                    }
                    p{
                        
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .part4{
            flex-direction: row;
            width: 100%;
            .container{
                width: 50%;
                h1{
                    font-size: 6.5rem;
                    line-height: 1;
                }
                .inner-container{
                    cursor: pointer;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 2rem 0;
                    .service{
                        width: 45%;
                        h1{
                            font-size: 1.7rem;
                        }
                        p{
                            width: 100%;
                            font-size: 1.2rem;
                        }
                    }

                }
            }
            img{
                width: 48%;
            }
        }
    }
}