@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap");
@font-face {
  font-family: "Miama";
  src: url(./fonts/Miama-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(10px, 1vw, 20px);
  font-family: "Syne", sans-serif;
  background-color: #FDFBF5;
  color: #191919;
}

body {
  padding: 1rem;
}

main {
  padding: 1.5rem;
  border: 2.3px solid rgba(25, 25, 25, 0.2784313725);
  width: 100%;
}

nav {
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 1rem;
}
nav .navigation {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
nav .navigation .only-pc {
  display: none;
}
nav .navigation .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .navigation .logo img {
  width: 4rem;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
}
nav .navigation .logo h2 {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  margin: -2rem 0;
}

.btn {
  font-family: "Roboto Mono", sans-serif;
  padding: 0.7rem 1.5rem;
  background-color: #191919;
  border-radius: 3px;
  color: #FDFBF5;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn h3 {
  font-weight: 400;
}

p {
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h1 {
  font-size: 5rem;
  width: 50%;
  font-weight: 500;
  line-height: 1;
}

.section1 {
  margin: 1.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section1 img {
  width: 100%;
  border-radius: 16px;
}

.section2 {
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 2rem;
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section2 .btn {
  width: 15.5rem;
  text-transform: uppercase;
}
.section2 h1 {
  width: 100%;
  font-size: 4.3rem;
  font-weight: 450;
}
.section2 .line {
  height: 1px;
  background-color: rgba(25, 25, 25, 0.6235294118);
}
.section2 .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section2 .right .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 2rem;
}
.section2 .right .container img {
  width: 4.5rem;
}
.section2 .right .container p {
  text-transform: none;
  line-height: 1.5;
  font-size: 1.3rem;
  font-size: 100 !important;
}
.section2 .right .container h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
}
.section2 .right .last {
  border: none;
  padding: 0;
}

.section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.section3 .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section3 .left h1 {
  font-weight: 500;
  text-transform: uppercase;
}
.section3 .left p {
  font-size: 1.5rem;
  text-transform: none;
  width: 80%;
}
.section3 .right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section3 .right .videos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section3 .right .videos h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.section3 .right .videos p {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}
.section3 .right .videos video {
  width: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 2rem;
  margin: 2rem 0;
}
.section4 .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .left img {
  width: 4.5rem;
}
.section4 .left p {
  font-size: 1.5rem;
  font-weight: 400;
}
.section4 .left h1 {
  width: 100%;
  font-size: 4rem;
  text-transform: uppercase;
}
.section4 .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section4 .right p {
  line-height: 1.7;
  text-transform: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.section4 .right .btn {
  width: 14rem;
  text-transform: uppercase;
}
.section4 .right .btn h3 {
  font-weight: 300;
}

footer .f-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
footer .f-container .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}
footer .f-container .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}
footer .f-container .part1 {
  width: 100%;
  border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
  padding-bottom: 2rem;
  left: 0;
}
footer .f-container .part1 .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer .f-container .part1 .logo img {
  width: 5rem;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
}
footer .f-container .part1 .logo h2 {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}
footer .f-container h1 {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 0;
}
footer .f-container h3 {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
footer .f-container h4 {
  font-size: 1.5rem;
  font-weight: 200;
}
footer .f-container .btn {
  width: 15rem;
  margin: 1rem 0;
}
footer .copyright {
  padding: 1rem 0;
}
footer .copyright p {
  font-size: 1.5rem;
  font-weight: 300;
}
footer .copyright p a {
  color: #191919;
}

@media (min-width: 1024px) {
  main {
    padding: 3.2rem;
  }
  nav .navigation .only-pc {
    display: flex;
    gap: 2.5rem;
  }
  nav .navigation .only-pc h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
  }
  nav .navigation .only-pc h1:hover {
    border-bottom: 1px solid #191919;
  }
  .section1 {
    margin: 4rem 0;
    gap: 1.5rem;
  }
  .section1 h1 {
    font-size: 7rem;
    width: 70%;
  }
  .section2 {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding-bottom: 4rem;
  }
  .section2 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
  }
  .section2 .left h1 {
    font-size: 6rem;
    margin-top: 1rem;
  }
  .section2 .line {
    width: 1px;
    height: inherit;
    background-color: rgba(25, 25, 25, 0.6235294118);
  }
  .section2 .right {
    width: 35%;
    padding-left: 1.5rem;
  }
  .section2 .right .container p {
    font-size: 1.2rem;
  }
  .section2 .right .container h1 {
    font-size: 2rem;
  }
  .section3 {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding-bottom: 4rem;
  }
  .section3 .left {
    width: 30%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .section3 .left h1 {
    font-size: 5rem;
    margin-top: 1rem;
    font-weight: 400;
  }
  .section3 .left p {
    font-weight: 300;
  }
  .section3 .line {
    width: 1px;
    height: inherit;
    background-color: rgba(25, 25, 25, 0.6235294118);
  }
  .section3 .right {
    width: 69%;
    padding-left: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section3 .right .videos {
    width: 46%;
  }
  .section4 {
    gap: 4rem;
  }
  .section4 .left img {
    width: 5rem;
  }
  .section4 .left p {
    font-size: 1.6rem;
  }
  .section4 .left h1 {
    font-size: 6rem;
  }
  .section4 .right {
    gap: 4rem;
  }
  .section4 .right p {
    font-size: 1.6rem;
  }
  .section4 .right .btn {
    width: 13.5rem;
  }
  .section4 .right .btn h3 {
    font-weight: 300;
  }
  footer .f-container {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(25, 25, 25, 0.6235294118);
    margin-bottom: 2rem;
    align-items: stretch;
  }
  footer .f-container .left {
    width: 29%;
  }
  footer .f-container .line {
    width: 1px;
    height: inherit;
    background-color: rgba(25, 25, 25, 0.6235294118);
    z-index: 999;
  }
  footer .f-container .right {
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    padding-left: 1.5rem;
  }
  footer .f-container .right .part1 {
    width: 28%;
    border: none;
  }
  footer .f-container .part1 {
    cursor: pointer;
    border-bottom: none;
  }
  footer .f-container h1 {
    font-size: 2rem;
    width: 100%;
  }
  footer .f-container h3 {
    font-size: 1.2rem;
  }
  footer .f-container h4 {
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }
  footer .f-container .btn {
    width: 11.5rem;
    margin: 0.8rem 0;
    padding: 0 1rem;
  }
  footer .f-container .btn h3 {
    font-weight: 400;
  }
}/*# sourceMappingURL=style.css.map */